{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  unless thumbnail_position
    assign thumbnail_position = 'beside'
  endunless

  assign product_zoom_size = '1800x1800'
  assign product_image_size = '620x'

  case image_container_width
    when 'small'
      assign product_image_width = 'medium-up--two-fifths'
      assign product_description_width = 'medium-up--three-fifths'
      assign product_image_size = '480x'
    when 'medium'
      assign product_image_width = 'medium-up--one-half'
      assign product_description_width = 'medium-up--one-half'
      assign product_image_size = '620x'
    when 'large'
      assign product_image_width = 'medium-up--three-fifths'
      assign product_description_width = 'medium-up--two-fifths'
      assign product_image_size = '740x'
  endcase

  assign product_img_structure = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
-%}

{%- liquid
  assign connect_to_sizechart = false

  for block in section.blocks
    if block.type == 'size_chart'
      assign sizechart_index = forloop.index0
      assign next_block_index = sizechart_index | plus: 1
      assign variant_block = section.blocks[next_block_index]

      if variant_block.type == 'variant_picker' and variant_block.settings.picker_type == 'button' and product.has_only_default_variant == false
        for option in product.options_with_values
          assign size_trigger = 'products.general.size_trigger' | t | downcase
          assign downcased_option = option.name | downcase

          if downcased_option contains size_trigger
            assign connect_to_sizechart = true
          endif
        endfor
      endif

    endif
  endfor
-%}

<div id="ProductSection-{{ section_id }}-{{ product.id }}"
  class="product-section"
  data-section-id="{{ section_id }}"
  data-product-id="{{ product.id }}"
  data-section-type="product"
  data-product-handle="{{ product.handle }}"
  data-product-title="{{ product.title | escape }}"
  data-product-url="{{ product.url | within: collection }}"
  data-aspect-ratio="{{ 100 | divided_by: product.featured_media.aspect_ratio }}"
  data-img-url="{{ product_img_structure }}"
  {% unless isModal %}
    data-history="true"
  {% endunless %}
  data-modal="{{ isModal }}">{% render 'preorder-now-collection-item', product: product %}

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content page-content--product">
    <div class="page-width">

      <div class="grid{% unless image_position == 'left' %} grid--product-images-right{% endunless %}{% if mobile_layout == 'partial' %} grid--product-images--partial{% endif %}">
        {%- if image_position == 'left' -%}
          <div class="grid__item {{ product_image_width }} product-single__sticky">
            {%- render 'product-images',
              section_id: section_id,
              product: product,
              isModal: isModal,
              image_position: image_position,
              product_zoom_enable: product_zoom_enable,
              product_zoom_size: product_zoom_size,
              product_image_size: product_image_size,
              thumbnail_arrows: thumbnail_arrows,
              thumbnail_position: thumbnail_position,
              video_looping: video_looping,
              video_style: video_style
            -%}
          </div>
        {%- endif -%}

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            <div class="product-block product-block--header">
              {% comment %}{%- if settings.show_breadcrumbs and isModal != true -%}
                {%- render 'breadcrumbs' -%}
              {%- endif -%}{% endcomment %}

              {%- if settings.vendor_enable -%}
                <div class="product-single__vendor">
                  {%- assign vendor_handle = product.vendor | handleize -%}
                  {%- if collections[vendor_handle] != empty -%}
                    <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
                      {{ collections[vendor_handle].title }}
                    </a>
                  {%- else -%}
                    {{ product.vendor | link_to_vendor }}
                  {%- endif -%}
                </div>
              {%- endif -%}

              {%- if isModal -%}
                <p class="h2 product-single__title">
                  {{ product.title }}
                </p>
              {%- else -%}
                <h1 class="h2 product-single__title">
                  {%- unless product.empty? -%}
                    {{ product.title }}
                  {%- else -%}
                    {{ 'home_page.onboarding.product_title' | t }}
                  {%- endunless -%}
                </h1>
              {%- endif -%}

              {%- if sku_enable -%}
                <p data-sku class="product-single__sku">
                  {%- if current_variant.sku -%}
                    {{ current_variant.sku }}
                  {%- endif -%}
                </p>
              {%- endif -%}
            </div>

            <div data-product-blocks>
              {%- capture form_id -%}AddToCartForm-{{ section_id }}-{{ product.id }}{%- endcapture -%}
              {%- for block in blocks -%}
                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'separator' -%}
                    <div class="product-block" {{ block.shopify_attributes }}><hr></div>
                  {%- when 'text' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {{ block.settings.text }}
                    </div>
                  {%- when 'tab' -%}
                    {% assign tab_id = block.id | append: product.id %}
                    {% capture tab_content %}
                      {{ block.settings.content }}
                      {{ block.settings.page.content }}
                    {% endcapture %}
                    {% unless tab_content == blank and block.settings.title == blank %}
                      <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                        {%- render 'tab', id: tab_id, title: block.settings.title, content: tab_content -%}
                      </div>
                    {% endunless %}
                  {%- when 'contact' -%}
                    <div class="product-block product-block--tab" {{ block.shopify_attributes }}>
                      {% assign tab_id = block.id | append: product.id %}
                      {%- render 'tab-contact', id: tab_id, block: block -%}
                    </div>
                  {%- when 'description' -%}
                    <div class="product-block{% if block.settings.is_tab %} product-block--tab{% endif %}" {{ block.shopify_attributes }}>
                      {%- assign id = block.id | append: product.id -%}
                      {%- render 'product-description', id: id, product: product, is_tab: block.settings.is_tab -%}
                    </div>
                  {%- when 'key_features' -%}
                    <div class="product-block{% if block.settings.is_tab %} product-block--tab{% endif %} key-features" {{ block.shopify_attributes }}>
                      {%- assign id = block.id | append: product.id -%}
                      {% assign is_tab = block.settings.is_tab %}
                      {% capture key_features %}
                          {%- if product.empty? -%}
                            {{ 'home_page.onboarding.product_description' | t }}
                          {%- else -%}                        
                            {% assign first_paragraph = product.description | split: "<p>" | last | split: "</p>" | last %}
                            {{ product.description }}
                          {%- endif -%}
                        {% endcapture %}
                        {%- if is_tab -%}
                          {% assign title = block.settings.key_title %}
                          <!-- {%- render 'tab', id: id, title: title, content: key_features -%} -->
                          {% if product.metafields.custom.key_features %}
                            {%- render 'tab', id: id, title: title, content: product.metafields.custom.key_features -%}
                          {% endif %}
                        {%- else -%}
                          <div class="rte">
                            {{ key_features }}
                          </div>
                        {%- endif -%}
                    </div>
                  {%- when 'sizing' -%}
                    <div class="product-block{% if block.settings.is_tab %} product-block--tab{% endif %} key-features" {{ block.shopify_attributes }}>
                      {%- assign id = block.id | append: product.id -%}
                      {% assign is_tab = block.settings.is_tab %}
                        {%- if is_tab -%}
                          {% assign title = block.settings.sizing_title %}
                          {% if product.metafields.custom.sizing %}
                            {%- render 'tab', id: id, title: title, content: product.metafields.custom.sizing -%}
                          {% endif %}
                        {%- else -%}
                          <div class="rte">
                          </div>
                        {%- endif -%}
                    </div>
                  {%- when 'price' -%}
                    <div class="product-block product-block--price" {{ block.shopify_attributes }}>
                      {%- assign hide_sale_price = true -%}
                      {%- if product.compare_at_price_max > product.price -%}
                        {%- if current_variant.compare_at_price > current_variant.price -%}
                          {%- assign hide_sale_price = false -%}
                        {%- endif -%}
                        <span
                          data-a11y-price
                          class="visually-hidden"
                          aria-hidden="{{ hide_sale_price }}">
                            {{ 'products.general.regular_price' | t }}
                        </span>
                        <span data-product-price-wrap class="{% if hide_sale_price %} hide{% endif %}">
                          <span data-compare-price class="product__price product__price--compare">
                            {%- if current_variant.compare_at_price > current_variant.price -%}
                              {{ current_variant.compare_at_price | money }}
                            {%- endif -%}
                          </span>
                        </span>
                        <span data-compare-price-a11y class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                      {%- else -%}
                        <span data-a11y-price class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
                      {%- endif -%}

                      <span data-product-price
                        class="product__price{% if current_variant.compare_at_price > current_variant.price %} on-sale{% endif %}">
                        {%- unless product.empty? -%}
                          {{ current_variant.price | money }}
                        {%- else -%}
                          {{ 1999 | money }}
                        {%- endunless -%}
                      </span>

                      {%- if settings.product_save_amount -%}
                        {% comment %}{%- if settings.product_save_type == 'dollar' -%}
                          {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | money }}{%- endcapture -%}
                        {%- else -%}
                          {%- capture saved_amount -%}{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round }}%{%- endcapture -%}
                        {%- endif -%}
                        <span data-save-price class="product__price-savings{% if hide_sale_price %} hide{% endif %}">
                          {%- unless hide_sale_price -%}
                            {{ 'products.general.save_html' | t: saved_amount: saved_amount }}
                          {%- endunless -%}
                        </span>{% endcomment %}

                        {% if current_variant.compare_at_price > current_variant.price or product.tags contains 'New' %}
                           <span class="save-text">
                              {% if current_variant.compare_at_price > current_variant.price %}
                                {% assign discount = current_variant.compare_at_price | minus: current_variant.price %}
                                {% assign discount_percentage = discount | times: 100 | divided_by: current_variant.compare_at_price %}
                                {% if discount_percentage > 0 %}
                                  {{ discount_percentage | round }}% off
                                {% endif %}
                              {% endif %}
                           </span>
                         {% endif %}
                      {%- endif -%}

                      <div
                        data-unit-price-wrapper
                        class="product__unit-price product__unit-price--spacing {% unless current_variant.unit_price_measurement %} hide{% endunless %}">
                        {%- capture unit_price_base_unit -%}
                          <span data-unit-base>
                            {%- if current_variant.unit_price_measurement -%}
                              {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                                {{ current_variant.unit_price_measurement.reference_value }}
                              {%- endif -%}
                              {{ current_variant.unit_price_measurement.reference_unit }}
                            {%- endif -%}
                          </span>
                        {%- endcapture -%}

                        <span data-unit-price>{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
                      </div>

                      {% comment %}{%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                        <div class="product__policies rte small--text-center">
                          {%- if shop.taxes_included -%}
                            {{ 'products.product.include_taxes' | t }}
                          {%- endif -%}
                          {%- if shop.shipping_policy.body != blank -%}
                            {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                          {%- endif -%}
                        </div>
                      {%- endif -%}{% endcomment %}
                    </div>
                  {%- when 'quantity_selector' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      <div class="product__quantity">
                        {% assign qty_id = section_id | append: product.id %}
                        <!-- <label for="Quantity-{{ qty_id }}">{{ 'products.product.quantity' | t }}</label> -->
                        {%- render 'quantity-input', form_id: form_id, id: qty_id, qty: 1, min: 1 -%}
                      </div>
                    </div>
                  {%- when 'size_chart' -%}
                    {% if connect_to_sizechart == false %}
                      {%- capture size_chart_title -%}
                        {{ 'products.general.size_chart' | t }}
                        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-size-chart" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M22.39 33.53c-7.46 0-13.5-3.9-13.5-8.72s6-8.72 13.5-8.72 13.5 3.9 13.5 8.72a12 12 0 0 1-.22 1.73"/><ellipse cx="22.39" cy="24.81" rx="3.28" ry="2.12"/><path class="a" d="M8.89 24.81V38.5c0 7.9 6.4 9.41 14.3 9.41h31.92V33.53H22.39M46.78 33.53v7.44M38.65 33.53v7.44M30.52 33.53v7.44M22.39 33.53v7.44"/></svg>
                      {%- endcapture -%}

                     <div class="sizechart-btn44 d-inline-block">
                       <svg xmlns="http://www.w3.org/2000/svg" width="23" height="18" viewBox="0 0 23 18" fill="none">
                        <g clip-path="url(#clip0_94_2381)">
                        <mask id="path-1-outside-1_94_2381" maskUnits="userSpaceOnUse" x="0.240222" y="-0.488007" width="23.0044" height="18.0056" fill="black">
                        <rect fill="white" x="0.240222" y="-0.488007" width="23.0044" height="18.0056"/>
                        <path d="M14.5365 16.5102C12.5578 16.5097 10.5791 16.5092 8.60047 16.5087C6.89914 16.5083 5.43789 16.1613 4.13139 15.4516C2.88889 14.774 2.0411 13.9204 1.54003 12.8376C1.43876 12.6136 1.36948 12.3789 1.29487 12.1282C1.27889 12.0696 1.2629 12.0109 1.24158 11.9522L1.24326 5.09357C1.46218 4.06429 1.99573 3.19509 2.87058 2.43264C3.64408 1.75549 4.56153 1.26505 5.67628 0.923989C6.57235 0.652209 7.49505 0.513768 8.42838 0.513997C8.45505 0.514003 8.47638 0.514008 8.50305 0.514015C10.2524 0.530443 11.7456 0.909475 13.0681 1.68847C14.3799 2.45679 15.2117 3.41699 15.622 4.61709C15.7606 5.02779 15.8245 5.47581 15.8244 6.07314C15.8241 7.00114 15.8239 7.94514 15.8237 8.85714C15.8236 9.24114 15.8235 9.62514 15.8234 10.0145C15.8233 10.2225 15.8233 10.3345 15.9086 10.4252C15.9993 10.5158 16.1166 10.5159 16.3139 10.5159C16.3139 10.5159 21.3326 10.5172 22.1913 10.5174C22.6446 10.5175 22.7246 10.5975 22.7245 11.0508C22.7241 12.6988 22.7237 14.3415 22.7233 15.9895C22.7232 16.4322 22.6378 16.5121 22.2005 16.512C20.9951 16.5117 19.7898 16.5114 18.5791 16.5111C17.2298 16.5108 15.8805 16.5105 14.5311 16.5102L14.5365 16.5102ZM11.5126 15.9068C11.7099 15.9068 11.8806 15.9068 12.0459 15.9175C12.0566 15.9176 12.0726 15.9176 12.0833 15.9176C12.2113 15.9176 12.3073 15.8856 12.3766 15.8163C12.4673 15.7203 12.478 15.5923 12.4781 15.4857C12.4675 15.059 12.4729 14.627 12.4784 14.211C12.4784 14.0563 12.4784 13.9017 12.4785 13.7417L12.4785 13.699C12.4785 13.6457 12.4785 13.5923 12.4785 13.5497C12.4999 13.3737 12.6173 13.251 12.7719 13.2511L12.7773 13.2511C12.9479 13.2511 13.0652 13.3845 13.0652 13.5658C13.0704 14.1418 13.0702 14.7711 13.0647 15.5445C13.0647 15.6298 13.0753 15.7418 13.1553 15.8218C13.214 15.8805 13.2993 15.9125 13.4059 15.9125L13.4166 15.9126C13.6353 15.9126 13.8593 15.9073 14.0833 15.9074C14.3073 15.9074 14.5313 15.9075 14.7499 15.9129L14.7606 15.9129C14.8726 15.9129 14.958 15.8809 15.0166 15.8223C15.0967 15.737 15.1074 15.625 15.102 15.545C15.0968 15.2676 15.1022 14.9903 15.1022 14.7183L15.1023 14.6543C15.1023 14.5636 15.1237 14.2756 15.385 14.265L15.3957 14.265C15.6144 14.2651 15.6943 14.4624 15.6996 14.6491C15.6995 14.8998 15.7101 15.2144 15.6994 15.5131C15.6994 15.5984 15.6993 15.7264 15.79 15.8171C15.854 15.8811 15.9446 15.9185 16.0726 15.9185C16.0779 15.9185 16.0886 15.9185 16.0939 15.9185C16.2913 15.9186 16.4939 15.9133 16.6966 15.9134C16.8993 15.9134 17.1073 15.9135 17.3206 15.9188C17.3259 15.9188 17.3366 15.9188 17.3419 15.9188C17.4219 15.9189 17.5393 15.9082 17.6246 15.8229C17.7153 15.7323 17.7207 15.6096 17.7207 15.5296C17.7207 15.4389 17.7208 15.3536 17.7208 15.2629C17.7155 15.0016 17.7102 14.7563 17.7476 14.5163C17.769 14.3829 17.8917 14.2816 18.025 14.2763L18.0303 14.2763C18.1583 14.2764 18.2703 14.3671 18.3076 14.4897C18.3289 14.5591 18.3396 14.6444 18.3396 14.7458C18.3395 15.0018 18.3448 15.2738 18.3394 15.5458C18.3394 15.6258 18.3393 15.7431 18.43 15.8284C18.494 15.8925 18.5793 15.9245 18.7019 15.9245L18.7179 15.9245C18.9473 15.9246 19.1553 15.9193 19.3579 15.9193C19.5606 15.9194 19.7739 15.9194 19.9659 15.9248C19.9713 15.9248 19.9819 15.9248 19.9873 15.9248C20.1099 15.9249 20.2006 15.8929 20.27 15.8289C20.3553 15.7382 20.366 15.6156 20.366 15.5303C20.3608 14.9703 20.3663 14.4316 20.3665 13.7863C20.3665 13.6743 20.3772 13.5729 20.3985 13.4823C20.4252 13.3543 20.5426 13.2636 20.6706 13.2637C20.8146 13.2637 20.9266 13.3597 20.9585 13.4931C20.9745 13.5784 20.9852 13.6691 20.9851 13.7757C20.985 14.1384 20.985 14.5064 20.9849 14.8584L20.9848 15.2424C20.9847 15.5197 20.9847 15.6744 21.0753 15.7864C21.1819 15.9198 21.3633 15.9198 21.5873 15.9199L21.6619 15.9199C22.0406 15.92 22.11 15.8453 22.1101 15.456C22.1104 14.1707 22.1107 12.8853 22.111 11.6053C22.1111 11.408 22.1111 11.2907 22.0258 11.2053C21.9351 11.1146 21.8231 11.1146 21.6258 11.1146L15.3058 11.113C13.1138 11.1125 10.9165 11.1119 8.72446 11.1114L8.70846 11.1114C7.96712 11.1112 7.4018 11.0684 6.88449 10.983C5.28456 10.7052 3.98337 10.1182 2.90093 9.18998C2.61832 8.94991 2.37306 8.66185 2.14379 8.38979L1.99983 8.21909L1.88245 8.41106C1.81842 8.51771 1.82373 8.61905 1.82905 8.68305C1.82905 8.69371 1.82905 8.70438 1.82904 8.72038C1.82896 9.03505 1.82889 9.34971 1.82881 9.66438C1.8287 10.1337 1.82858 10.6244 1.82846 11.1044C1.82286 12.187 2.25462 13.1525 3.11842 13.974C4.0782 14.8863 5.31539 15.4732 6.89398 15.767C6.93132 15.7723 6.96865 15.7776 7.00065 15.7776C7.08598 15.7777 7.15532 15.751 7.20333 15.703C7.27802 15.6284 7.28871 15.5217 7.2834 15.4364L7.28343 15.3137C7.28348 15.079 7.27288 14.8337 7.28894 14.5991C7.29965 14.4071 7.42235 14.2737 7.58768 14.2738L7.59835 14.2738C7.76901 14.2792 7.87565 14.4125 7.88093 14.6205C7.88084 14.9939 7.88077 15.2819 7.8807 15.5539C7.88068 15.6339 7.88599 15.7459 7.96597 15.8312C8.02462 15.8952 8.10995 15.9219 8.22195 15.9219L8.23261 15.9219C8.44061 15.922 8.65395 15.9221 8.88861 15.9221C9.10195 15.9222 9.32595 15.9222 9.57128 15.9223L9.58195 15.9223C9.69395 15.9223 9.77395 15.8903 9.83797 15.8317C9.92866 15.741 9.92335 15.613 9.92337 15.5704C9.91811 15.2397 9.91819 14.9357 9.92359 14.6424C9.92365 14.4184 10.0463 14.2797 10.2277 14.2798L10.233 14.2798C10.4037 14.2798 10.5156 14.4238 10.5209 14.6425L10.5209 14.6532C10.5209 14.9465 10.5261 15.2558 10.5207 15.5545C10.5207 15.6345 10.5207 15.7465 10.606 15.8319C10.6966 15.9279 10.8299 15.9279 10.8779 15.9279L10.8939 15.9279C11.0913 15.928 11.3046 15.9174 11.5179 15.9174L11.5126 15.9068ZM8.38023 1.12732C7.13757 1.12701 5.95351 1.38272 4.85472 1.88379C3.76126 2.38485 2.9611 3.03532 2.40623 3.87786C1.87269 4.69372 1.69648 5.57368 1.88292 6.49639C2.06936 7.42444 2.5865 8.2139 3.461 8.90745C4.67143 9.86774 6.1433 10.3908 7.95127 10.5032C8.15927 10.5139 8.36727 10.5246 8.56993 10.5247C9.6366 10.525 10.666 10.3439 11.6154 9.99211C13.0235 9.46445 13.9784 8.76069 14.6186 7.76351C15.3762 6.58503 15.4299 5.37438 14.7742 4.15288C14.3264 3.32077 13.6172 2.6486 12.5987 2.10435C11.3828 1.45339 10.0442 1.13306 8.5029 1.13268L8.44423 1.13267C8.44423 1.13267 8.39623 1.13266 8.36957 1.13265L8.38023 1.12732ZM13.8766 10.51C14.2873 10.5101 14.6019 10.5102 14.9006 10.5102C15.0126 10.5103 15.0926 10.4836 15.1513 10.4196C15.2313 10.3397 15.242 10.233 15.242 10.1477C15.2421 9.881 15.2422 9.61433 15.2422 9.353C15.2423 9.12366 15.2423 8.889 15.2424 8.65966C15.2424 8.649 15.2424 8.63833 15.2424 8.62766C15.2477 8.56367 15.2584 8.44634 15.1625 8.33964L15.0345 8.20095L14.9171 8.35025C14.3196 9.10211 13.5888 9.70459 12.682 10.2004L12.7566 10.5044C12.9433 10.5044 13.6899 10.5046 13.8766 10.5047L13.8766 10.51Z"/>
                        </mask>
                        <path d="M14.5365 16.5102C12.5578 16.5097 10.5791 16.5092 8.60047 16.5087C6.89914 16.5083 5.43789 16.1613 4.13139 15.4516C2.88889 14.774 2.0411 13.9204 1.54003 12.8376C1.43876 12.6136 1.36948 12.3789 1.29487 12.1282C1.27889 12.0696 1.2629 12.0109 1.24158 11.9522L1.24326 5.09357C1.46218 4.06429 1.99573 3.19509 2.87058 2.43264C3.64408 1.75549 4.56153 1.26505 5.67628 0.923989C6.57235 0.652209 7.49505 0.513768 8.42838 0.513997C8.45505 0.514003 8.47638 0.514008 8.50305 0.514015C10.2524 0.530443 11.7456 0.909475 13.0681 1.68847C14.3799 2.45679 15.2117 3.41699 15.622 4.61709C15.7606 5.02779 15.8245 5.47581 15.8244 6.07314C15.8241 7.00114 15.8239 7.94514 15.8237 8.85714C15.8236 9.24114 15.8235 9.62514 15.8234 10.0145C15.8233 10.2225 15.8233 10.3345 15.9086 10.4252C15.9993 10.5158 16.1166 10.5159 16.3139 10.5159C16.3139 10.5159 21.3326 10.5172 22.1913 10.5174C22.6446 10.5175 22.7246 10.5975 22.7245 11.0508C22.7241 12.6988 22.7237 14.3415 22.7233 15.9895C22.7232 16.4322 22.6378 16.5121 22.2005 16.512C20.9951 16.5117 19.7898 16.5114 18.5791 16.5111C17.2298 16.5108 15.8805 16.5105 14.5311 16.5102L14.5365 16.5102ZM11.5126 15.9068C11.7099 15.9068 11.8806 15.9068 12.0459 15.9175C12.0566 15.9176 12.0726 15.9176 12.0833 15.9176C12.2113 15.9176 12.3073 15.8856 12.3766 15.8163C12.4673 15.7203 12.478 15.5923 12.4781 15.4857C12.4675 15.059 12.4729 14.627 12.4784 14.211C12.4784 14.0563 12.4784 13.9017 12.4785 13.7417L12.4785 13.699C12.4785 13.6457 12.4785 13.5923 12.4785 13.5497C12.4999 13.3737 12.6173 13.251 12.7719 13.2511L12.7773 13.2511C12.9479 13.2511 13.0652 13.3845 13.0652 13.5658C13.0704 14.1418 13.0702 14.7711 13.0647 15.5445C13.0647 15.6298 13.0753 15.7418 13.1553 15.8218C13.214 15.8805 13.2993 15.9125 13.4059 15.9125L13.4166 15.9126C13.6353 15.9126 13.8593 15.9073 14.0833 15.9074C14.3073 15.9074 14.5313 15.9075 14.7499 15.9129L14.7606 15.9129C14.8726 15.9129 14.958 15.8809 15.0166 15.8223C15.0967 15.737 15.1074 15.625 15.102 15.545C15.0968 15.2676 15.1022 14.9903 15.1022 14.7183L15.1023 14.6543C15.1023 14.5636 15.1237 14.2756 15.385 14.265L15.3957 14.265C15.6144 14.2651 15.6943 14.4624 15.6996 14.6491C15.6995 14.8998 15.7101 15.2144 15.6994 15.5131C15.6994 15.5984 15.6993 15.7264 15.79 15.8171C15.854 15.8811 15.9446 15.9185 16.0726 15.9185C16.0779 15.9185 16.0886 15.9185 16.0939 15.9185C16.2913 15.9186 16.4939 15.9133 16.6966 15.9134C16.8993 15.9134 17.1073 15.9135 17.3206 15.9188C17.3259 15.9188 17.3366 15.9188 17.3419 15.9188C17.4219 15.9189 17.5393 15.9082 17.6246 15.8229C17.7153 15.7323 17.7207 15.6096 17.7207 15.5296C17.7207 15.4389 17.7208 15.3536 17.7208 15.2629C17.7155 15.0016 17.7102 14.7563 17.7476 14.5163C17.769 14.3829 17.8917 14.2816 18.025 14.2763L18.0303 14.2763C18.1583 14.2764 18.2703 14.3671 18.3076 14.4897C18.3289 14.5591 18.3396 14.6444 18.3396 14.7458C18.3395 15.0018 18.3448 15.2738 18.3394 15.5458C18.3394 15.6258 18.3393 15.7431 18.43 15.8284C18.494 15.8925 18.5793 15.9245 18.7019 15.9245L18.7179 15.9245C18.9473 15.9246 19.1553 15.9193 19.3579 15.9193C19.5606 15.9194 19.7739 15.9194 19.9659 15.9248C19.9713 15.9248 19.9819 15.9248 19.9873 15.9248C20.1099 15.9249 20.2006 15.8929 20.27 15.8289C20.3553 15.7382 20.366 15.6156 20.366 15.5303C20.3608 14.9703 20.3663 14.4316 20.3665 13.7863C20.3665 13.6743 20.3772 13.5729 20.3985 13.4823C20.4252 13.3543 20.5426 13.2636 20.6706 13.2637C20.8146 13.2637 20.9266 13.3597 20.9585 13.4931C20.9745 13.5784 20.9852 13.6691 20.9851 13.7757C20.985 14.1384 20.985 14.5064 20.9849 14.8584L20.9848 15.2424C20.9847 15.5197 20.9847 15.6744 21.0753 15.7864C21.1819 15.9198 21.3633 15.9198 21.5873 15.9199L21.6619 15.9199C22.0406 15.92 22.11 15.8453 22.1101 15.456C22.1104 14.1707 22.1107 12.8853 22.111 11.6053C22.1111 11.408 22.1111 11.2907 22.0258 11.2053C21.9351 11.1146 21.8231 11.1146 21.6258 11.1146L15.3058 11.113C13.1138 11.1125 10.9165 11.1119 8.72446 11.1114L8.70846 11.1114C7.96712 11.1112 7.4018 11.0684 6.88449 10.983C5.28456 10.7052 3.98337 10.1182 2.90093 9.18998C2.61832 8.94991 2.37306 8.66185 2.14379 8.38979L1.99983 8.21909L1.88245 8.41106C1.81842 8.51771 1.82373 8.61905 1.82905 8.68305C1.82905 8.69371 1.82905 8.70438 1.82904 8.72038C1.82896 9.03505 1.82889 9.34971 1.82881 9.66438C1.8287 10.1337 1.82858 10.6244 1.82846 11.1044C1.82286 12.187 2.25462 13.1525 3.11842 13.974C4.0782 14.8863 5.31539 15.4732 6.89398 15.767C6.93132 15.7723 6.96865 15.7776 7.00065 15.7776C7.08598 15.7777 7.15532 15.751 7.20333 15.703C7.27802 15.6284 7.28871 15.5217 7.2834 15.4364L7.28343 15.3137C7.28348 15.079 7.27288 14.8337 7.28894 14.5991C7.29965 14.4071 7.42235 14.2737 7.58768 14.2738L7.59835 14.2738C7.76901 14.2792 7.87565 14.4125 7.88093 14.6205C7.88084 14.9939 7.88077 15.2819 7.8807 15.5539C7.88068 15.6339 7.88599 15.7459 7.96597 15.8312C8.02462 15.8952 8.10995 15.9219 8.22195 15.9219L8.23261 15.9219C8.44061 15.922 8.65395 15.9221 8.88861 15.9221C9.10195 15.9222 9.32595 15.9222 9.57128 15.9223L9.58195 15.9223C9.69395 15.9223 9.77395 15.8903 9.83797 15.8317C9.92866 15.741 9.92335 15.613 9.92337 15.5704C9.91811 15.2397 9.91819 14.9357 9.92359 14.6424C9.92365 14.4184 10.0463 14.2797 10.2277 14.2798L10.233 14.2798C10.4037 14.2798 10.5156 14.4238 10.5209 14.6425L10.5209 14.6532C10.5209 14.9465 10.5261 15.2558 10.5207 15.5545C10.5207 15.6345 10.5207 15.7465 10.606 15.8319C10.6966 15.9279 10.8299 15.9279 10.8779 15.9279L10.8939 15.9279C11.0913 15.928 11.3046 15.9174 11.5179 15.9174L11.5126 15.9068ZM8.38023 1.12732C7.13757 1.12701 5.95351 1.38272 4.85472 1.88379C3.76126 2.38485 2.9611 3.03532 2.40623 3.87786C1.87269 4.69372 1.69648 5.57368 1.88292 6.49639C2.06936 7.42444 2.5865 8.2139 3.461 8.90745C4.67143 9.86774 6.1433 10.3908 7.95127 10.5032C8.15927 10.5139 8.36727 10.5246 8.56993 10.5247C9.6366 10.525 10.666 10.3439 11.6154 9.99211C13.0235 9.46445 13.9784 8.76069 14.6186 7.76351C15.3762 6.58503 15.4299 5.37438 14.7742 4.15288C14.3264 3.32077 13.6172 2.6486 12.5987 2.10435C11.3828 1.45339 10.0442 1.13306 8.5029 1.13268L8.44423 1.13267C8.44423 1.13267 8.39623 1.13266 8.36957 1.13265L8.38023 1.12732ZM13.8766 10.51C14.2873 10.5101 14.6019 10.5102 14.9006 10.5102C15.0126 10.5103 15.0926 10.4836 15.1513 10.4196C15.2313 10.3397 15.242 10.233 15.242 10.1477C15.2421 9.881 15.2422 9.61433 15.2422 9.353C15.2423 9.12366 15.2423 8.889 15.2424 8.65966C15.2424 8.649 15.2424 8.63833 15.2424 8.62766C15.2477 8.56367 15.2584 8.44634 15.1625 8.33964L15.0345 8.20095L14.9171 8.35025C14.3196 9.10211 13.5888 9.70459 12.682 10.2004L12.7566 10.5044C12.9433 10.5044 13.6899 10.5046 13.8766 10.5047L13.8766 10.51Z" fill="#121212"/>
                        <path d="M14.5365 16.5102C12.5578 16.5097 10.5791 16.5092 8.60047 16.5087C6.89914 16.5083 5.43789 16.1613 4.13139 15.4516C2.88889 14.774 2.0411 13.9204 1.54003 12.8376C1.43876 12.6136 1.36948 12.3789 1.29487 12.1282C1.27889 12.0696 1.2629 12.0109 1.24158 11.9522L1.24326 5.09357C1.46218 4.06429 1.99573 3.19509 2.87058 2.43264C3.64408 1.75549 4.56153 1.26505 5.67628 0.923989C6.57235 0.652209 7.49505 0.513768 8.42838 0.513997C8.45505 0.514003 8.47638 0.514008 8.50305 0.514015C10.2524 0.530443 11.7456 0.909475 13.0681 1.68847C14.3799 2.45679 15.2117 3.41699 15.622 4.61709C15.7606 5.02779 15.8245 5.47581 15.8244 6.07314C15.8241 7.00114 15.8239 7.94514 15.8237 8.85714C15.8236 9.24114 15.8235 9.62514 15.8234 10.0145C15.8233 10.2225 15.8233 10.3345 15.9086 10.4252C15.9993 10.5158 16.1166 10.5159 16.3139 10.5159C16.3139 10.5159 21.3326 10.5172 22.1913 10.5174C22.6446 10.5175 22.7246 10.5975 22.7245 11.0508C22.7241 12.6988 22.7237 14.3415 22.7233 15.9895C22.7232 16.4322 22.6378 16.5121 22.2005 16.512C20.9951 16.5117 19.7898 16.5114 18.5791 16.5111C17.2298 16.5108 15.8805 16.5105 14.5311 16.5102L14.5365 16.5102ZM11.5126 15.9068C11.7099 15.9068 11.8806 15.9068 12.0459 15.9175C12.0566 15.9176 12.0726 15.9176 12.0833 15.9176C12.2113 15.9176 12.3073 15.8856 12.3766 15.8163C12.4673 15.7203 12.478 15.5923 12.4781 15.4857C12.4675 15.059 12.4729 14.627 12.4784 14.211C12.4784 14.0563 12.4784 13.9017 12.4785 13.7417L12.4785 13.699C12.4785 13.6457 12.4785 13.5923 12.4785 13.5497C12.4999 13.3737 12.6173 13.251 12.7719 13.2511L12.7773 13.2511C12.9479 13.2511 13.0652 13.3845 13.0652 13.5658C13.0704 14.1418 13.0702 14.7711 13.0647 15.5445C13.0647 15.6298 13.0753 15.7418 13.1553 15.8218C13.214 15.8805 13.2993 15.9125 13.4059 15.9125L13.4166 15.9126C13.6353 15.9126 13.8593 15.9073 14.0833 15.9074C14.3073 15.9074 14.5313 15.9075 14.7499 15.9129L14.7606 15.9129C14.8726 15.9129 14.958 15.8809 15.0166 15.8223C15.0967 15.737 15.1074 15.625 15.102 15.545C15.0968 15.2676 15.1022 14.9903 15.1022 14.7183L15.1023 14.6543C15.1023 14.5636 15.1237 14.2756 15.385 14.265L15.3957 14.265C15.6144 14.2651 15.6943 14.4624 15.6996 14.6491C15.6995 14.8998 15.7101 15.2144 15.6994 15.5131C15.6994 15.5984 15.6993 15.7264 15.79 15.8171C15.854 15.8811 15.9446 15.9185 16.0726 15.9185C16.0779 15.9185 16.0886 15.9185 16.0939 15.9185C16.2913 15.9186 16.4939 15.9133 16.6966 15.9134C16.8993 15.9134 17.1073 15.9135 17.3206 15.9188C17.3259 15.9188 17.3366 15.9188 17.3419 15.9188C17.4219 15.9189 17.5393 15.9082 17.6246 15.8229C17.7153 15.7323 17.7207 15.6096 17.7207 15.5296C17.7207 15.4389 17.7208 15.3536 17.7208 15.2629C17.7155 15.0016 17.7102 14.7563 17.7476 14.5163C17.769 14.3829 17.8917 14.2816 18.025 14.2763L18.0303 14.2763C18.1583 14.2764 18.2703 14.3671 18.3076 14.4897C18.3289 14.5591 18.3396 14.6444 18.3396 14.7458C18.3395 15.0018 18.3448 15.2738 18.3394 15.5458C18.3394 15.6258 18.3393 15.7431 18.43 15.8284C18.494 15.8925 18.5793 15.9245 18.7019 15.9245L18.7179 15.9245C18.9473 15.9246 19.1553 15.9193 19.3579 15.9193C19.5606 15.9194 19.7739 15.9194 19.9659 15.9248C19.9713 15.9248 19.9819 15.9248 19.9873 15.9248C20.1099 15.9249 20.2006 15.8929 20.27 15.8289C20.3553 15.7382 20.366 15.6156 20.366 15.5303C20.3608 14.9703 20.3663 14.4316 20.3665 13.7863C20.3665 13.6743 20.3772 13.5729 20.3985 13.4823C20.4252 13.3543 20.5426 13.2636 20.6706 13.2637C20.8146 13.2637 20.9266 13.3597 20.9585 13.4931C20.9745 13.5784 20.9852 13.6691 20.9851 13.7757C20.985 14.1384 20.985 14.5064 20.9849 14.8584L20.9848 15.2424C20.9847 15.5197 20.9847 15.6744 21.0753 15.7864C21.1819 15.9198 21.3633 15.9198 21.5873 15.9199L21.6619 15.9199C22.0406 15.92 22.11 15.8453 22.1101 15.456C22.1104 14.1707 22.1107 12.8853 22.111 11.6053C22.1111 11.408 22.1111 11.2907 22.0258 11.2053C21.9351 11.1146 21.8231 11.1146 21.6258 11.1146L15.3058 11.113C13.1138 11.1125 10.9165 11.1119 8.72446 11.1114L8.70846 11.1114C7.96712 11.1112 7.4018 11.0684 6.88449 10.983C5.28456 10.7052 3.98337 10.1182 2.90093 9.18998C2.61832 8.94991 2.37306 8.66185 2.14379 8.38979L1.99983 8.21909L1.88245 8.41106C1.81842 8.51771 1.82373 8.61905 1.82905 8.68305C1.82905 8.69371 1.82905 8.70438 1.82904 8.72038C1.82896 9.03505 1.82889 9.34971 1.82881 9.66438C1.8287 10.1337 1.82858 10.6244 1.82846 11.1044C1.82286 12.187 2.25462 13.1525 3.11842 13.974C4.0782 14.8863 5.31539 15.4732 6.89398 15.767C6.93132 15.7723 6.96865 15.7776 7.00065 15.7776C7.08598 15.7777 7.15532 15.751 7.20333 15.703C7.27802 15.6284 7.28871 15.5217 7.2834 15.4364L7.28343 15.3137C7.28348 15.079 7.27288 14.8337 7.28894 14.5991C7.29965 14.4071 7.42235 14.2737 7.58768 14.2738L7.59835 14.2738C7.76901 14.2792 7.87565 14.4125 7.88093 14.6205C7.88084 14.9939 7.88077 15.2819 7.8807 15.5539C7.88068 15.6339 7.88599 15.7459 7.96597 15.8312C8.02462 15.8952 8.10995 15.9219 8.22195 15.9219L8.23261 15.9219C8.44061 15.922 8.65395 15.9221 8.88861 15.9221C9.10195 15.9222 9.32595 15.9222 9.57128 15.9223L9.58195 15.9223C9.69395 15.9223 9.77395 15.8903 9.83797 15.8317C9.92866 15.741 9.92335 15.613 9.92337 15.5704C9.91811 15.2397 9.91819 14.9357 9.92359 14.6424C9.92365 14.4184 10.0463 14.2797 10.2277 14.2798L10.233 14.2798C10.4037 14.2798 10.5156 14.4238 10.5209 14.6425L10.5209 14.6532C10.5209 14.9465 10.5261 15.2558 10.5207 15.5545C10.5207 15.6345 10.5207 15.7465 10.606 15.8319C10.6966 15.9279 10.8299 15.9279 10.8779 15.9279L10.8939 15.9279C11.0913 15.928 11.3046 15.9174 11.5179 15.9174L11.5126 15.9068ZM8.38023 1.12732C7.13757 1.12701 5.95351 1.38272 4.85472 1.88379C3.76126 2.38485 2.9611 3.03532 2.40623 3.87786C1.87269 4.69372 1.69648 5.57368 1.88292 6.49639C2.06936 7.42444 2.5865 8.2139 3.461 8.90745C4.67143 9.86774 6.1433 10.3908 7.95127 10.5032C8.15927 10.5139 8.36727 10.5246 8.56993 10.5247C9.6366 10.525 10.666 10.3439 11.6154 9.99211C13.0235 9.46445 13.9784 8.76069 14.6186 7.76351C15.3762 6.58503 15.4299 5.37438 14.7742 4.15288C14.3264 3.32077 13.6172 2.6486 12.5987 2.10435C11.3828 1.45339 10.0442 1.13306 8.5029 1.13268L8.44423 1.13267C8.44423 1.13267 8.39623 1.13266 8.36957 1.13265L8.38023 1.12732ZM13.8766 10.51C14.2873 10.5101 14.6019 10.5102 14.9006 10.5102C15.0126 10.5103 15.0926 10.4836 15.1513 10.4196C15.2313 10.3397 15.242 10.233 15.242 10.1477C15.2421 9.881 15.2422 9.61433 15.2422 9.353C15.2423 9.12366 15.2423 8.889 15.2424 8.65966C15.2424 8.649 15.2424 8.63833 15.2424 8.62766C15.2477 8.56367 15.2584 8.44634 15.1625 8.33964L15.0345 8.20095L14.9171 8.35025C14.3196 9.10211 13.5888 9.70459 12.682 10.2004L12.7566 10.5044C12.9433 10.5044 13.6899 10.5046 13.8766 10.5047L13.8766 10.51Z" stroke="black" stroke-width="0.2" mask="url(#path-1-outside-1_94_2381)"/>
                        <path d="M6.14546 7.40082L6.14533 7.40072C5.70976 7.05754 5.44679 6.6255 5.35932 6.12181L5.35931 6.12176C5.2552 5.51813 5.42674 4.98011 5.88967 4.4847C6.40051 3.93072 7.08937 3.60139 7.97833 3.4777L7.98523 3.47674L7.98523 3.47722L8.01799 3.47723C8.16224 3.45073 8.29742 3.43463 8.43857 3.43467L8.43876 3.43467L8.43895 3.43467L8.43914 3.43467L8.43932 3.43467L8.43951 3.43467L8.4397 3.43467L8.43988 3.43467L8.44007 3.43467L8.44026 3.43467L8.44044 3.43467L8.44063 3.43467L8.44082 3.43467L8.441 3.43467L8.44119 3.43467L8.44137 3.43467L8.44156 3.43467L8.44174 3.43467L8.44193 3.43467L8.44211 3.43467L8.4423 3.43467L8.44248 3.43467L8.44267 3.43467L8.44285 3.43467L8.44304 3.43467L8.44322 3.43467L8.44341 3.43467L8.44359 3.43467L8.44378 3.43467L8.44396 3.43467L8.44415 3.43467L8.44433 3.43467L8.44451 3.43467L8.4447 3.43467L8.44488 3.43467L8.44506 3.43467L8.44525 3.43467L8.44543 3.43467L8.44561 3.43467L8.4458 3.43467L8.44598 3.43467L8.44616 3.43467L8.44634 3.43467L8.44653 3.43467L8.44671 3.43467L8.44689 3.43467L8.44707 3.43467L8.44726 3.43467L8.44744 3.43467L8.44762 3.43467L8.4478 3.43467L8.44798 3.43467L8.44816 3.43467L8.44835 3.43467L8.44853 3.43467L8.44871 3.43467L8.44889 3.43467L8.44907 3.43467L8.44925 3.43467L8.44943 3.43467L8.44961 3.43467L8.44979 3.43467L8.44997 3.43467L8.45015 3.43467L8.45033 3.43467L8.45051 3.43467L8.45069 3.43467L8.45087 3.43467L8.45105 3.43467L8.45123 3.43467L8.45141 3.43467L8.45159 3.43467L8.45177 3.43467L8.45195 3.43467L8.45213 3.43467L8.45231 3.43467L8.45249 3.43467L8.45267 3.43467L8.45285 3.43467L8.45303 3.43467L8.4532 3.43467L8.45338 3.43467L8.45356 3.43467L8.45374 3.43467L8.45392 3.43467L8.4541 3.43467L8.45427 3.43467L8.45445 3.43467L8.45463 3.43467L8.45481 3.43467L8.45498 3.43467L8.45516 3.43467L8.45534 3.43467L8.45552 3.43467L8.45569 3.43467L8.45587 3.43467L8.45605 3.43467L8.45622 3.43467L8.4564 3.43467L8.45658 3.43467L8.45675 3.43467L8.45693 3.43467L8.45711 3.43467L8.45728 3.43467L8.45746 3.43467L8.45763 3.43467L8.45781 3.43467L8.45799 3.43467L8.45816 3.43467L8.45834 3.43467L8.45851 3.43467L8.45869 3.43467L8.45886 3.43467L8.45904 3.43467L8.45921 3.43467L8.45939 3.43467L8.45956 3.43467L8.45974 3.43467L8.45991 3.43467L8.46009 3.43467L8.46026 3.43467L8.46044 3.43467L8.46061 3.43467L8.46079 3.43467L8.46096 3.43467L8.46114 3.43467L8.46131 3.43467L8.46148 3.43467L8.46166 3.43467L8.46183 3.43467L8.462 3.43467L8.46218 3.43467L8.46235 3.43467L8.46253 3.43467L8.4627 3.43467L8.46287 3.43467L8.46305 3.43467L8.46322 3.43467L8.46339 3.43467L8.46356 3.43467L8.46374 3.43467L8.46391 3.43467L8.46408 3.43467L8.46425 3.43467L8.46443 3.43467L8.4646 3.43467L8.46477 3.43467L8.46494 3.43467L8.46512 3.43467L8.46529 3.43467L8.46546 3.43467L8.46563 3.43467L8.4658 3.43467L8.46597 3.43467L8.46615 3.43467L8.46632 3.43467L8.46649 3.43467L8.46666 3.43467L8.46683 3.43467L8.467 3.43467L8.46717 3.43467L8.46735 3.43467L8.46752 3.43467L8.46769 3.43467L8.46786 3.43467L8.46803 3.43467L8.4682 3.43467L8.46837 3.43467L8.46854 3.43467L8.46871 3.43467L8.46888 3.43467L8.46905 3.43467L8.46922 3.43467L8.46939 3.43467L8.46956 3.43467L8.46973 3.43467L8.4699 3.43467L8.47007 3.43467L8.47024 3.43467L8.47041 3.43467L8.47058 3.43467L8.47075 3.43467L8.47092 3.43467L8.47109 3.43467L8.47126 3.43467L8.47142 3.43467L8.47159 3.43467L8.47176 3.43467L8.47193 3.43467L8.4721 3.43467L8.47227 3.43467L8.47244 3.43467L8.47261 3.43467L8.47277 3.43467L8.47294 3.43467L8.47311 3.43467L8.47328 3.43467L8.47345 3.43467L8.47361 3.43467L8.47378 3.43467L8.47395 3.43467L8.47412 3.43467L8.47429 3.43467L8.47445 3.43467L8.47462 3.43467L8.47479 3.43467L8.47496 3.43467L8.47512 3.43467L8.47529 3.43468L8.47546 3.43468L8.47563 3.43468L8.47579 3.43468L8.47596 3.43468L8.47613 3.43468L8.47629 3.43468L8.47646 3.43468L8.47663 3.43468L8.47679 3.43468L8.47696 3.43468L8.47713 3.43468L8.47729 3.43468L8.47746 3.43468L8.47763 3.43468L8.47779 3.43468L8.47796 3.43468L8.47812 3.43468L8.47829 3.43468L8.47846 3.43468L8.47862 3.43468L8.47879 3.43468L8.47895 3.43468L8.47912 3.43468L8.47929 3.43468L8.47945 3.43468L8.47962 3.43468L8.47978 3.43468L8.47995 3.43468L8.48011 3.43468L8.48028 3.43468L8.48044 3.43468L8.48061 3.43468L8.48077 3.43468L8.48094 3.43468L8.4811 3.43468L8.48127 3.43468L8.48143 3.43468L8.4816 3.43468L8.48176 3.43468L8.48193 3.43468L8.48209 3.43468L8.48226 3.43468L8.48242 3.43468L8.48258 3.43468L8.48275 3.43468L8.48291 3.43468L8.48308 3.43468L8.48324 3.43468L8.4834 3.43468L8.48357 3.43468L8.48373 3.43468L8.4839 3.43468L8.48406 3.43468L8.48422 3.43468L8.48439 3.43468L8.48455 3.43468L8.48471 3.43468L8.48488 3.43468L8.48504 3.43468L8.48521 3.43468L8.48537 3.43468L8.48553 3.43468L8.48569 3.43468L8.48586 3.43468L8.48602 3.43468L8.48618 3.43468L8.48635 3.43468L8.48651 3.43468L8.48667 3.43468L8.48684 3.43468L8.487 3.43468L8.48716 3.43468L8.48732 3.43468L8.48749 3.43468L8.48765 3.43468L8.48781 3.43468L8.48797 3.43468L8.48814 3.43468L8.4883 3.43468L8.48846 3.43468L8.48862 3.43468L8.48879 3.43468L8.48895 3.43468L8.48911 3.43468L8.48927 3.43468L8.48943 3.43468L8.4896 3.43468L8.48976 3.43468L8.48992 3.43468L8.49008 3.43468L8.49024 3.43468L8.4904 3.43468L8.49057 3.43468L8.49073 3.43468L8.49089 3.43468L8.49105 3.43468L8.49121 3.43468L8.49137 3.43468L8.49153 3.43468L8.4917 3.43468L8.49186 3.43468L8.49202 3.43468L8.49218 3.43468L8.49234 3.43468L8.4925 3.43468L8.49266 3.43468L8.49282 3.43468L8.49298 3.43468L8.49314 3.43468L8.4933 3.43468L8.49347 3.43468L8.49363 3.43468L8.49379 3.43468L8.49395 3.43468L8.49411 3.43468L8.49427 3.43468L8.49443 3.43468L8.49459 3.43468L8.49475 3.43468L8.49491 3.43468L8.49507 3.43468L8.49523 3.43468L8.49539 3.43468L8.49555 3.43468L8.49571 3.43468L8.49587 3.43468L8.49603 3.43468L8.49619 3.43468L8.49635 3.43468L8.49651 3.43468L8.49667 3.43468L8.49683 3.43468L8.49699 3.43468L8.49715 3.43468L8.49731 3.43468L8.49747 3.43468L8.49763 3.43468L8.49779 3.43468L8.49795 3.43468L8.49811 3.43468L8.49827 3.43468L8.49843 3.43468L8.49859 3.43468L8.49874 3.43468L8.4989 3.43468L8.49906 3.43468L8.49922 3.43468L8.49938 3.43468L8.49954 3.43468L8.4997 3.43468L8.49986 3.43468L8.50002 3.43468L8.50018 3.43468L8.50034 3.43468L8.50049 3.43468L8.50065 3.43468L8.50081 3.43468L8.50097 3.43468L8.50113 3.43468L8.50129 3.43468L8.50145 3.43468L8.50161 3.43468L8.50176 3.43468L8.50192 3.43468L8.50208 3.43468L8.50224 3.43468L8.5024 3.43468L8.50256 3.43468L8.50272 3.43468L8.50287 3.43468L8.50303 3.43468L8.50319 3.43468L8.50335 3.43468L8.50351 3.43468L8.50367 3.43468L8.50382 3.43468L8.50398 3.43468L8.50414 3.43468L8.5043 3.43468L8.50446 3.43468L8.50461 3.43468L8.50477 3.43468L8.50493 3.43468L8.50509 3.43468L8.50525 3.43468L8.5054 3.43468L8.50556 3.43468L8.50572 3.43468L8.50588 3.43468L8.50604 3.43468L8.50619 3.43468L8.50635 3.43468L8.50651 3.43468L8.50667 3.43468L8.50682 3.43468L8.50698 3.43468L8.50714 3.43468L8.5073 3.43468L8.50746 3.43468L8.50761 3.43468L8.50777 3.43468L8.50793 3.43468L8.50809 3.43468L8.50824 3.43468L8.5084 3.43468L8.50856 3.43468L8.50871 3.43468L8.50887 3.43468L8.50903 3.43468L8.50919 3.43468L8.50934 3.43468L8.5095 3.43468L8.50966 3.43468L8.50982 3.43468L8.50997 3.43468L8.51013 3.43468L8.51029 3.43468L8.51044 3.43468L8.5106 3.43468L8.51076 3.43468L8.51092 3.43468L8.51107 3.43468L8.51123 3.43468L8.51139 3.43468L8.51154 3.43468L8.5117 3.43468L8.51186 3.43468L8.51202 3.43468L8.51217 3.43468L8.51233 3.43468L8.51249 3.43468L8.51264 3.43468L8.5128 3.43468L8.51296 3.43468L8.51311 3.43468L8.51327 3.43468L8.51343 3.43468L8.51358 3.43468L8.51374 3.43468L8.5139 3.43468L8.51405 3.43468L8.51421 3.43468L8.51437 3.43468L8.51452 3.43468L8.51468 3.43468L8.51484 3.43468L8.51499 3.43468L8.51515 3.43468L8.51531 3.43468L8.51546 3.43468L8.51562 3.43468L8.51578 3.43468L8.51593 3.43468L8.51609 3.43469L8.51625 3.43469L8.5164 3.43469L8.51656 3.43469L8.51672 3.43469L8.51687 3.43469L8.51703 3.43469L8.51719 3.43469L8.51734 3.43469L8.5175 3.43469L8.51765 3.43469L8.51781 3.43469L8.51797 3.43469L8.51812 3.43469L8.51828 3.43469L8.51844 3.43469L8.51859 3.43469L8.51875 3.43469L8.51891 3.43469L8.51906 3.43469L8.51922 3.43469L8.51938 3.43469L8.51953 3.43469L8.51969 3.43469L8.51984 3.43469L8.52 3.43469L8.52016 3.43469L8.52031 3.43469L8.52047 3.43469L8.52063 3.43469L8.52078 3.43469L8.52094 3.43469L8.52109 3.43469L8.52125 3.43469L8.52141 3.43469L8.52156 3.43469L8.52172 3.43469L8.52188 3.43469L8.52203 3.43469L8.52219 3.43469L8.52234 3.43469L8.5225 3.43469L8.52266 3.43469L8.52281 3.43469L8.52297 3.43469L8.52313 3.43469L8.52328 3.43469L8.52344 3.43469L8.52359 3.43469L8.52375 3.43469L8.52391 3.43469L8.52924 3.43469L8.53059 3.43469L8.53059 3.43471C9.52676 3.46187 10.3276 3.74785 10.9722 4.30066C11.424 4.6873 11.6875 5.19584 11.7093 5.73407C11.7093 5.73408 11.7093 5.73409 11.7093 5.73409L11.6593 5.73612C11.6806 6.25346 11.4671 6.77074 11.0617 7.18131L6.14546 7.40082ZM6.14546 7.40082C6.81017 7.92105 7.5819 8.19147 8.44331 8.19595L6.14546 7.40082ZM8.74564 7.4874L8.74958 7.48346L8.62988 7.48271C7.74762 7.47721 7.11948 7.27668 6.5864 6.84791L6.58638 6.84789C6.24341 6.57234 6.05004 6.21711 6.03996 5.856C6.02987 5.49449 6.19784 5.12923 6.52511 4.83327L6.52511 4.83328L6.5254 4.83301C6.91177 4.47815 7.40334 4.25808 7.98115 4.17943L7.98127 4.17941C8.17154 4.15303 8.36119 4.13731 8.54507 4.13736C9.13383 4.1375 9.67983 4.28476 10.1627 4.56308L10.1629 4.56322C10.4282 4.71414 10.6516 4.92217 10.8179 5.17165L10.818 5.17177C11.0985 5.59026 11.0741 6.11108 10.7605 6.53259C10.4539 6.93752 10.0272 7.20432 9.4058 7.37799C9.16599 7.44153 8.92364 7.48182 8.74564 7.4874Z" fill="#121212" stroke="black" stroke-width="0.1"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_94_2381">
                        <rect width="22" height="17" fill="white" transform="translate(0.732788 0.0067749) rotate(0.0140292)"/>
                        </clipPath>
                        </defs>
                      </svg>
                        <P>Size Chart
                         <!-- <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-size-chart" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M22.39 33.53c-7.46 0-13.5-3.9-13.5-8.72s6-8.72 13.5-8.72 13.5 3.9 13.5 8.72a12 12 0 0 1-.22 1.73"></path><ellipse cx="22.39" cy="24.81" rx="3.28" ry="2.12"></ellipse><path class="a" d="M8.89 24.81V38.5c0 7.9 6.4 9.41 14.3 9.41h31.92V33.53H22.39M46.78 33.53v7.44M38.65 33.53v7.44M30.52 33.53v7.44M22.39 33.53v7.44"></path></svg> -->
                        </p>
                     </div>
                   <div id="sizechart44">
                    <button id="close-chart" class="tool-tip__close" data-tool-tip-close="">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64"><path d="M19 17.61l27.12 27.13m0-27.12L19 44.74"></path></svg>
                    </button>
                    <div class="sizechart">
                    <div class="container">
                        <h2>APPAREL SIZING</h2>
                        <p>Below is a general size chart for our kimonos and apparel. Please note that our kimonos fit a little bigger than most brands to help compensate for future shrinkage. Our kimonos also come pre-shrunk, however, since the fabric is made of cotton there is always extra shrinkage regardless during the wash and dry cycle.</p>
                        <div class="row">            
                            <button class="accordion">MEN'S GI SIZING CHART</button>
                            <div class="accordion-content">			
                                <table>
                                    <tr>
                                        <th>Size</th>
                                        <th>Weight(lbs)</th>
                                        <th>Height(lbs)</th>
                                    </tr>
                                    <tr>
                                        <td>Al</td>
                                        <td>110-140</td>
                                        <td>5'2"-5'5"</td>
                                    </tr>
                                    <tr>
                                        <td>A2</td>	
                                        <td>140-170</td>	
                                        <td>5'2"-5'5"</td>
                                    </tr>
                                    <tr>
                                        <td>A3</td>	
                                        <td>170-210</td>	
                                        <td>5'9-6'1"</td>
                                    </tr>
                                    <tr>
                                        <td>A4</td>	
                                        <td>210-250</td>	
                                        <td>6'2-6'5"</td>
                                    </tr>
                                    <tr>
                                        <td>A5</td>	
                                        <td>>250lbs</td>	
                                        <td>>6'5"</td>
                                    </tr>
                                    <tr>
                                        <td>AIL</td>	
                                        <td>135-160</td>	
                                        <td>5'6"-5'11"</td>
                                    </tr>
                                    <tr>
                                        <td>A2L</td>	
                                        <td>160-190</td>	
                                        <td>5'11"-6'3"</td>
                                    </tr>
                                    <tr>
                                        <td>A3L</td>	
                                        <td>170-200</td>	
                                        <td>6'3-6'6"</td>
                                    </tr>
                                    <tr>
                                        <td>A4L</td>	
                                        <td>200-230</td>	
                                        <td>6'6-6'9"</td>
                                    </tr>
                                    <tr>
                                        <td>ATH</td>	
                                        <td>140-165</td>	
                                        <td>5'2"-5'5"</td>
                                    </tr>
                                    <tr>
                                        <td>A2H</td>	
                                        <td>70-210</td>	
                                        <td>5'6"-5'8"</td>
                                    </tr>
                                    <tr>
                                        <td>A3H</td>	
                                        <td>210-250</td>	
                                        <td>5'8"-6'0"</td>
                                    </tr>
                                    <tr>
                                        <td>A4H</td>	
                                        <td>220-260</td>
                                        <td>5'8"-6'2"</td>
                                    </tr>                    
                                </table>
                            </div>
                            <button class="accordion">WOMEN'S GI SIZING CHART</button>
                            <div class="accordion-content">
                                <table>
                                    <tr>
                                        <th>Size</th>
                                        <th>Weight(lbs)</th>
                                        <th>Height(lbs)</th>
                                    </tr>
                                    <tr>
                                        <td>FO</td>
                                        <td>85-115</td>
                                        <td>4'10"-5'1"</td>
                                    </tr>
                                    <tr>
                                        <td>ENRY</td>
                                        <td>115-130</td>
                                        <td>5'2"-5'5"</td>
                                    </tr>
                                    <tr>
                                        <td>F2</td>
                                        <td>130-165</td>
                                        <td>5'6-5'9"</td>
                                    </tr>
                                    <tr>
                                        <td>F3</td>
                                        <td>165-190</td>
                                        <td>5'10-6'1"</td>
                                    </tr>
                                    <tr>
                                        <td>F4</td>
                                        <td>190-220</td>
                                        <td>5'11"-6'2"</td>
                                    </tr>
                                </table>
                            </div>
                            <button class="accordion">KIDS GI SIZING CHART</button>
                            <div class="accordion-content">
                                <table>
                                    <tr>
                                        <th>Size</th>
                                        <th>Weight(lbs)</th>
                                        <th>Height(lbs)</th>
                                    </tr>
                                    <tr>
                                        <td>M000</td>	
                                        <td>35 to 45</td>	
                                        <td>3'2-3'8</td>
                                    </tr>
                                    <tr>
                                        <td>MOO</td>	
                                        <td>45 to 50</td>	
                                        <td>3'9"-4</td>
                                    </tr>
                                    <tr>
                                        <td>MO</td>	
                                        <td>50-60</td>	
                                        <td>4-4'3"</td>
                                    </tr>
                                    <tr>
                                        <td>MI</td>	
                                        <td>65-80</td>	
                                        <td>4'3"-4'6"</td>
                                    </tr>
                                    <tr>
                                        <td>M2</td>	
                                        <td>80-95</td>	
                                        <td>4'6"-4'9"</td>
                                    </tr>
                                    <tr>
                                        <td>M3</td>
                                        <td>95-110</td>
                                        <td>4'9-5</td>
                                    </tr>
                                </table>
                            </div>
                            <button class="accordion">SIZE CHART FOR MEN'S RASHGUARD</button>
                            <div class="accordion-content">            
                                <table>
                                    <tr>
                                        <th>Chest</th>
                                        <th>Size</th>
                                    </tr>
                                    <tr>
                                        <td>28"-32"</td>
                                        <td>XS</td>
                                    </tr>
                                    <tr>
                                        <td>34"-36"</td>
                                        <td>S</td>
                                    </tr>
                                    <tr>
                                        <td>38"-40"</td>
                                        <td>M</td>
                                    </tr>
                                    <tr>
                                        <td>42"-44"</td>
                                        <td>L</td>
                                    </tr>
                                    <tr>
                                        <td>46"-48"</td>
                                        <td>XL</td>
                                    </tr>
                                    <tr>
                                        <td>50"-52"</td>
                                        <td>XXL</td>
                                    </tr>
                                    <tr>
                                        <td>52"-54"</td>
                                        <td>XXXL</td>
                                    </tr>
                
                                </table>
                            </div>
                            <button class="accordion">SIZE CHART FOR WOMEN'S RASHGUARD</button>
                            <div class="accordion-content">
                                <table>
                                    <tr>
                                        <th>Chest</th>
                                        <th>Size</th>
                                        <th>Length</th>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>XS</td>
                                        <td>25</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>S</td>
                                        <td>26</td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>M</td>
                                        <td>27</td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>L</td>
                                        <td>28</td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>XL</td>
                                        <td>28.5</td>
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>XXL</td>
                                        <td>29</td>
                                    </tr>
                                </table>
                            </div>
                            <button class="accordion">MMA SHORTS SIZE CHART</button>
                            <div class="accordion-content">
                                <table>
                                    <tr>
                                        <th>Short Size</th>
                                        <th>Waist Size</th>
                                    </tr>
                                    <tr>
                                        <td>X-SMALL</td>
                                        <td>28"</td>
                                    </tr>
                                    <tr>
                                        <td>SMALL</td><td>30"</td>
                                    <tr>
                                        <td>MEDIUM</td>
                                        <td>32"</td>
                                    </tr>
                                    <tr>
                                        <td>LARGE</td>
                                        <td>34"</td>
                                    </tr>
                                    <tr>
                                        <td>X-LARGE</td>
                                        <td>36"</td>
                                    </tr>
                                    <tr>
                                        <td>2X-LARGE</td>
                                        <td>38"</td>
                                    </tr>
                                    <tr>
                                        <td>3X-LARGE</td>
                                        <td>40"</td>
                                    </tr>
                                    <tr>
                                        <td>4X-LARGE</td>
                                        <td>42"</td>
                                    </tr>
                                </table>
                            </div>
                            <button class="accordion">ROLLBLISS SPATS SIZE CHART</button>
                            <div class="accordion-content">
                                <table>
                                    <tr>
                                        <th>Size</th>
                                        <th>Waist Size</th>
                                        <th>Height</th>
                                    </tr>
                                    <tr>
                                        <td>S</td>
                                        <td>30/32</td>
                                        <td>5'8" and under</td>
                                    </tr>
                                        <td>M</td>
                                        <td>34</td>
                                        <td>5'8" - 5'11"</td>
                                    </tr>
                                    <tr>
                                        <td>L</td>
                                        <td>36</td>
                                        <td>6'0"-6'2"</td>
                                    </tr>
                                    <tr>
                                        <td>XL</td>
                                        <td>38</td>
                                        <td>6'2"-6'4"</td>
                                    </tr>
                                    <tr>
                                        <td>XXL</td>
                                        <td>40</td>
                                        <td>6'3" and above</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> 
                       
                    </div>
              
                     
                    {% endif %}
                  {%- when 'variant_picker' -%}
                    <div class="align-items-center d-flex product-block variant-picker justify-content-between flex-column-reverse flex-md-row" {{ block.shopify_attributes }}>
                      <div class="d-flex flex-row-reverse variant-picker-div">
                      {%- unless product.has_only_default_variant -%}
                        {%- for option in product.options_with_values -%}
                          {%- liquid
                            if block.settings.color_swatches
                              assign is_color = false
                              assign color_option_index = 0
                              assign swatch_trigger = 'products.general.color_swatch_trigger' | t | downcase
                              assign color_option_index = forloop.index0
                              assign downcased_option = option.name | downcase
                              if downcased_option contains swatch_trigger
                                assign is_color = true
                              elsif swatch_trigger == 'color' and downcased_option contains 'colour'
                                assign is_color = true
                              endif
                            endif
                          -%}

                          {%- if block.settings.picker_type == 'button' -%}
                            {%- render 'variant-button',
                              block: block,
                              product: product,
                              form_id: form_id,
                              section_id: section_id,
                              option: option,
                              forloop: forloop,
                              variant_labels: block.settings.variant_labels,
                              is_color: is_color,
                              color_option_index: color_option_index,
                              connect_to_sizechart: connect_to_sizechart,
                              sizechart_index: sizechart_index
                            -%}
                          {%- else -%}
                            {%- render 'variant-dropdown',
                              product: product,
                              form_id: form_id,
                              section_id: section_id,
                              option: option,
                              forloop: forloop,
                              variant_labels: block.settings.variant_labels
                            -%}
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endunless -%}
                    </div>
                    </div>
                  {%- when 'buy_buttons' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {%- unless product.empty? -%}
                        <div class="product-block">
                          {%- render 'product-form',
                            form_id: form_id,
                            product: product,
                            show_dynamic_checkout: block.settings.show_dynamic_checkout,
                            current_variant: current_variant
                          -%}
                        </div>
                      {%- endunless -%}

                      {%- if block.settings.surface_pickup_enable -%}
                        <div data-store-availability-holder
                          data-product-name="{{ product.title | escape }}"
                          data-base-url="{{ shop.url }}{{ routes.root_url }}"
                          ></div>
                      {%- endif -%}
                    </div>
                  {%- when 'sales_point' -%}
                    {%- unless block.settings.text == blank -%}
                      <div class="product-block product-block--sales-point" {{ block.shopify_attributes }}>
                        <ul class="sales-points">
                          <li class="sales-point">
                            <span class="icon-and-text">
                              {% case block.settings.icon %}
                                {% when 'checkmark' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-circle-checkmark" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M52.68 24.48A22 22 0 1 1 47 15.93M21 32l8.5 8.5L57 13"/></svg>
                                {% when 'gift' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-gift" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M9 20.23h46v8.68H9zM13.34 28.91h36.89v24.3H13.34zM27.82 20.66v32.98M35.91 20.88v32.98M20.52 11.43a3.73 3.73 0 0 0-.74 2.87 4.57 4.57 0 0 0 .8 2.27C22 18.09 25.15 20 32 20.23a12 12 0 0 0-2.43-7 7.52 7.52 0 0 0-5.66-3.12 4 4 0 0 0-3.39 1.32z"/><path class="a" d="M43.37 11.43a3.73 3.73 0 0 1 .74 2.87 4.48 4.48 0 0 1-.8 2.27c-1.42 1.52-4.57 3.41-11.42 3.66a12.08 12.08 0 0 1 2.43-7A7.56 7.56 0 0 1 40 10.14a4 4 0 0 1 3.37 1.29z"/></svg>
                                {% when 'globe' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-globe" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><circle class="a" cx="32" cy="32" r="22"/><path class="a" d="M13 21h38M10 32h44M13 43h38M32 10c-12 8-12 37 0 44M32 10c12 8 12 37 0 44"/></svg>
                                {% when 'heart' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-heart" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M51.27 15.05a13 13 0 0 0-18.44 0l-.83.83-.83-.83a13 13 0 0 0-18.44 18.44l.83.83L32 52.77l18.44-18.45.83-.83a13 13 0 0 0 0-18.44z"/></svg>
                                {% when 'leaf' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-leaf" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="a" d="M52 11L13 50M35 13v15h16"/><path class="a" d="M52 11c6 24-16.72 47.29-33 32C7 22 29 10 52 11z"/></svg>
                                {% when 'lock' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-lock" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M19.45 23.6v-3.2c0-7 5.89-11.75 12.55-11.75 7.21 0 12.55 5.49 12.55 11.75v3.2M10 23.6h44v31.75H10zM32 37.47v7.47"/><circle class="a" cx="32" cy="35.87" r="1.6"/></svg>
                                {% when 'package' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-package" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M32 54.52L10 41.95v-19.9L32 9.48l22 12.57v19.9L32 54.52z"/><path class="a" d="M32 54.52v-19.9l22-12.57M32 34.62L10 22.05M41.7 15.02L21 28.33v8.38"/></svg>
                                {% when 'phone' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-phone" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M18.4 9.65l10.2 10.2-6.32 6.32c2.1 7 6.89 12.46 15.55 15.55l6.32-6.32 10.2 10.2-8.75 8.75C25.71 50.3 13.83 38.21 9.65 18.4z"/></svg>
                                {% when 'ribbon' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-ribbon" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M28.57 42.31l-8.36 13.07-2.6-7.17-7.61.65 8.35-13.07a17.05 17.05 0 0 0 8.12 5.94 17.3 17.3 0 0 0 1.74.5zM54 48.86l-7.61-.65-2.61 7.17-8.36-13.07.37-.08a16.4 16.4 0 0 0 1.73-.5 17 17 0 0 0 8.12-5.93z"/><path class="a" d="M49 25.64a16.79 16.79 0 0 1-3.14 9.85 3.55 3.55 0 0 1-.23.31 17 17 0 0 1-8.12 5.93 16.4 16.4 0 0 1-1.73.5l-.37.08a16.74 16.74 0 0 1-3.42.35 16.91 16.91 0 0 1-3.43-.35l-.36-.08a17.3 17.3 0 0 1-1.74-.5 17.05 17.05 0 0 1-8.12-5.94c-.07-.09-.15-.19-.22-.3A16.86 16.86 0 0 1 15 25.64a17 17 0 0 1 34 0z"/><path class="a" d="M36.09 27.78l.96 5.63L32 30.75l-5.05 2.66.96-5.63-4.09-3.98 5.65-.82L32 17.86l2.53 5.12 5.64.82-4.08 3.98z"/></svg>
                                {% when 'shield' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-shield" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M21.18 31.69L28.54 39l15.91-15.88"/><path class="a" d="M53 12.54v15.24a31.41 31.41 0 0 1-3.7 14.95A25.46 25.46 0 0 1 32 56a25.46 25.46 0 0 1-17.3-13.27A31.41 31.41 0 0 1 11 27.78V12.54C24.88 13.67 32 8 32 8s7.12 5.67 21 4.54z"/></svg>
                                {% when 'tag' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-tag" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-width:2px}</style></defs><path class="a" d="M46.69 10.34l-10.55.07-25.8 25.8 17.45 17.45 25.8-25.8.07-10.55-6.97-6.97z"/><circle class="a" cx="43.95" cy="20.05" r="3.53"/><path class="a" d="M14.4 32.15L31.85 49.6"/></svg>
                                {% when 'truck' %} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-truck" viewBox="0 0 64 64"><defs><style>.a{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="a" d="M16.5 43.22H6.88V16.5h33.14v26.72H23.94M45.42 43.22h-5.4V30.4h17.1v12.82h-4.23M57.12 30.4l-6.41-8.56H40.02"/><circle class="a" cx="20.24" cy="43.76" r="3.74"/><path class="a" d="M45.42 43.23a3.82 3.82 0 1 1 0 .37v-.37"/></svg>
                              {% endcase %}
                              <span>{{ block.settings.text }}</span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    {%- endunless -%}
                  {%- when 'inventory_status' -%}
                    {%- render 'product-inventory', product: product, current_variant: current_variant, block: block -%}
                  {%- when 'share' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {% if product.metafields.custom.upsell_product_1 or product.metafields.custom.upsell_product_2 %}
                    <h2 class="upsell-title">Complete the look!</h2>    
                      {% assign pro_1 = all_products['jaguar-peonies-grappling-shorts'] %}
                      {% assign pro_2 = all_products['white-resort-grappling-shorts'] %}

                      {% assign pro_1 = all_products['white-elysium-bjj-gi-by-rollbliss'] %}
                      {% assign pro_2 = all_products['white-paisley-bjj-gi'] %}

                      {% assign pro_1 = all_products[product.metafields.custom.upsell_product_1] %}
                      {% assign pro_2 = all_products[product.metafields.custom.upsell_product_2] %}
                      
                      <div class="upsell-part">
                      <div class="d-flex position-relative flex-column flex-sm-row">
                        <div class="upsell-product upsell-product-1" style="width: 50%">
                          <figure>
                          <img src="{{ pro_1.featured_image | img_url: 'master' }}" />
                          </figure>
                          <div class="">
                          <a href="{{ pro_1.url }}">{{ pro_1.title }}</a>
                          <div class="price">{{ pro_1.price | money }}</div>
                          <!-- {%- for option in pro_1.options_with_values -%}
                            {%- render 'variant-dropdown',
                              product: pro_1,
                              form_id: form_id,
                              section_id: section_id,
                              option: option,
                              forloop: forloop,
                              variant_labels: block.settings.variant_labels
                            -%}
                        {%- endfor -%} -->

                          <div class="variant-list variant-1-list d-none">
                            {% for variant in pro_1.variants %}
                                <div data-variant-title="{{ variant.title }}" data-variant-id="{{ variant.id }}" data-variant-available="{{ variant.available }}">{{ variant.title }}</div>
                              {% endfor %}
                          </div>
                            

                        <div class="variant-list variant-2-list d-none">
                          {% for variant in pro_2.variants %}
                              <div data-variant-title="{{ variant.title }}" data-variant-id="{{ variant.id }}" data-variant-available="{{ variant.available }}">{{ variant.title }}</div>
                            {% endfor %}
                        </div>

                            <div class="d-flex {% if pro_1.options_with_values.size > 1 %}more-option{% endif %}">
                          {%- for option in pro_1.options_with_values -%}
                          <select
                            form="{{ form_id }}"
                            data-variant-input
                            id="SingleOptionSelector-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}"
                            data-index="option{{ forloop.index }}"
                            >
                            {%- for value in option.values -%}
                              {% assign currentTitle = value %}
                              {% for variant in pro_1.variants %}
                                {% if variant.title contains currentTitle %}
                                    {% assign vr_price = variant.price | money %}
                                    {% assign vr_id_1 = variant.id %}
                                    {% assign vr_avai_1 = variant.available %}
                                    {% assign vr_in = variant.inventory_quantity %}
                                  {% break %}
                                {% endif %}
                              {% endfor %}
                              {%- liquid
                                assign variant_label_state = true
                                if product.options.size == 1
                                  unless product.variants[forloop.index0].available
                                    assign variant_label_state = false
                                  endunless
                                endif
                              -%}
                              {% if pro_1.options_with_values.size == 1  %}
                                {% if vr_avai_1 %}
                                  <option
                                    value="{{ value | escape }}"
                                    name="{{ option.name }}"
                                    class="variant-input"
                                    data-index="option{{ forloop.index }}" data-variant-id="{{ vr_id_1 }}">
                                    {{ value }}
                                  </option>
                                {% endif %}
                              {% else %}
                                <option
                                  value="{{ value | escape }}"
                                  name="{{ option.name }}"
                                  class="variant-input"
                                  data-index="option{{ forloop.index }}" data-variant-id="{{ vr_id_1 }}">
                                  {{ value }}
                                </option>
                              {% endif %}
                            {%- endfor -%}
                          </select>
                          {%- endfor -%} 
                            </div>
                          </div>         
                        </div>
                        <div bis_skin_checked="1" class="upsell-plus-sign"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                          <path d="M0 15C0 6.71573 6.71573 0 15 0C23.2843 0 30 6.71573 30 15C30 23.2843 23.2843 30 15 30C6.71573 30 0 23.2843 0 15Z" fill="#7A7A7A"></path>
                          <path d="M8.18188 13.6364H21.8182V16.3636H8.18188V13.6364Z" fill="white"></path>
                          <path d="M16.3638 8.18182L16.3638 21.8182L13.6365 21.8182L13.6365 8.18182L16.3638 8.18182Z" fill="white"></path>
                        </svg></div>
                        <div class="upsell-product upsell-product-2" style="width: 50%">
                          <figure>
                          <img src="{{ pro_2.featured_image | img_url: 'master' }}" />
                          </figure>
                          <div class="">
                          <a href="{{ pro_2.url }}">{{ pro_2.title }}</a>
                          <div class="price">{{ pro_2.price | money }}</div>
                          <!-- {%- for option in pro_2.options_with_values -%}
                            {%- render 'variant-dropdown',
                              product: pro_1,
                              form_id: form_id,
                              section_id: section_id,
                              option: option,
                              forloop: forloop,
                              variant_labels: block.settings.variant_labels
                            -%}
                        {%- endfor -%} -->

                            <div class="d-flex {% if pro_2.options_with_values.size > 1 %}more-option{% endif %}">
                          {%- for option in pro_2.options_with_values -%}
                          <select
                            form="{{ form_id }}"
                            data-variant-input
                            id="SingleOptionSelector-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}"
                            data-index="option{{ forloop.index }}"
                            >
                            {%- for value in option.values -%}
                              {% assign currentTitle = value %}
                              {% for variant in pro_2.variants %}
                                {{ variant.title }}
                                {% if currentTitle == variant.title %}
                                    {% assign vr_price = variant.price | money %}
                                    {% assign vr_id_2 = variant.id %}
                                    {% assign vr_avai_2 = variant.available %}
                                    {% assign vr_in = variant.inventory_quantity %}
                                {% endif %}
                              {% endfor %}
                              {%- liquid
                                assign variant_label_state = true
                                if product.options.size == 1
                                  unless product.variants[forloop.index0].available
                                    assign variant_label_state = false
                                  endunless
                                endif 
                              -%}
                              
                              {% if pro_2.options_with_values.size == 1  %}
                                {% if vr_avai_2 %}
                                  <option
                                    value="{{ value | escape }}"
                                    name="{{ option.name }}"
                                    class="variant-input"
                                    data-index="option{{ forloop.index }}" data-variant-id="{{ vr_id_2 }}">
                                    {{ value }}
                                  </option>
                                {% endif %}
                              {% else %}
                                <option
                                  value="{{ value | escape }}"
                                  name="{{ option.name }}"
                                  class="variant-input"
                                  data-index="option{{ forloop.index }}" data-variant-id="{{ vr_id_2 }}">
                                  {{ value }}
                                </option>
                              {% endif %}
                            {%- endfor -%}
                          </select>
                          {%- endfor -%} 
                          </div>
                        </div>
                        </div>
                      </div>
                        <a href="#" class="upsell-add-to-cart">Buy now</a>
                        
                      </div>
                        {% endif %}
                    </div>
                  
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {%- render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product -%}
                    </div>
                  {%- when 'trust_badge' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      <div class="aos-animate" style="max-width: {{ block.settings.trust_image.width }}px; margin: 0 auto;">
                        <div class="image-wrap " style="height: 0; padding-bottom: {{ 100 | divided_by: block.settings.trust_image.aspect_ratio }}%;">
                          {%- assign img_url = block.settings.trust_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                          <img class="lazyload"
                              data-src="{{ img_url }}"
                              data-widths="[360, 540, 700, 1024]"
                              data-aspectratio="{{ block.settings.trust_image.aspect_ratio }}"
                              data-sizes="auto"
                              alt="{{ block.settings.trust_image.alt }}">
                          <noscript>
                            <img class="lazyloaded" src="{{ block.settings.trust_image | img_url: '540x' }}" alt="{{ block.settings.trust_image.alt }}">
                          </noscript>
                        </div>
                      </div>
                    </div>
                  {%- when 'custom' -%}
                    <div class="product-block" {{ block.shopify_attributes }}>
                      {{ block.settings.code }}
                    </div>
                {%- endcase -%}
              {%- else -%}
                <div data-blocks-holder
                     data-url="{{ product.url | within: collection }}"
                     data-template="{{ product.template_suffix }}">
                  <div class="placeholder-content" style="min-height: 86px;"></div>
                </div>
              {%- endfor -%}
            </div>
          </div>
        </div>

        {%- unless image_position == 'left' -%}
          <div class="grid__item {{ product_image_width }} product-single__sticky">
            {%- render 'product-images',
              section_id: section_id,
              product: product,
              isModal: isModal,
              image_position: image_position,
              product_zoom_enable: product_zoom_enable,
              product_zoom_size: product_zoom_size,
              product_image_size: product_image_size,
              thumbnail_arrows: thumbnail_arrows,
              thumbnail_position: thumbnail_position,
              video_looping: video_looping,
              video_style: video_style
            -%}
          </div>
        {%- endunless -%}
      </div>
    </div>
  </div>
</div>


<script>// <![CDATA[

    let sizeChartBtn = document.querySelector('.sizechart-btn44');
    let sizeChartPop = document.querySelector('#sizechart44');
    let closeChart = document.querySelector('#close-chart');
  
       sizeChartBtn.onclick = ()=>{
          sizeChartPop.style.display = "block";
       }

       closeChart.onclick = ()=>{
          sizeChartPop.style.display = "none";
       }
  
const accordionBtns = document.querySelectorAll(".accordion");

accordionBtns.forEach((accordion) => {
  accordion.onclick = function () {
    this.classList.toggle("is-open");

    let content = this.nextElementSibling;
    console.log(content);

    if (content.style.maxHeight) {
      //this is if the accordion is open
      content.style.maxHeight = null;
    } else {
      //if the accordion is currently closed
      content.style.maxHeight = content.scrollHeight + "px";
      console.log(content.style.maxHeight);
    }
  };
});
// ]]></script>
                                  
