<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="{{ settings.text_direction }}">
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "m8wykmblfl");
</script>
  <head>

  <!-- Start cookieyes banner --> <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/common/shopify.js"></script> <script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/749f0201a3b6152299e0790c/script.js"></script> <!-- End cookieyes banner -->

  
{% include 'hyperspeed-imports' %}

{% render 'hs-critical-css' %} 

</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com">
  <link rel="preconnect" href="https://fonts.shopifycdn.com">
  <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
  <link rel="dns-prefetch" href="https://ajax.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.googleapis.com">
  <link rel="dns-prefetch" href="https://maps.gstatic.com">
   <!-- bootstrap css link  -->
    {% render 'hs-defer-css' with filename: 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css', pages: 'collection,index,product' | split: ',', minify: false, local: false %}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  {%- render 'seo-title' -%}

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {%- render 'social-meta-tags' -%}


  {{ 'theme.css' | asset_url | stylesheet_tag: preload: true }}
  
  {%- render 'css-variables' -%}
 {% render 'hs-defer-css' with filename: 'application.css', pages: 'collection,index,product' | split: ',', minify: true, local: true %}
{% render 'hs-defer-css' with filename: 'Popup-New.css', pages: 'collection,index,product' | split: ',', minify: true, local: true %}
    {%- render 'font-face' -%}
  {{ 'font.css' | asset_url | stylesheet_tag: preload: true }}
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

    window.theme = window.theme || {};
    theme.routes = {
      home: "{{ routes.root_url }}",
      cart: "{{ routes.cart_url | append: '.js' }}",
      cartPage: "{{ routes.cart_url }}",
      cartAdd: "{{ routes.cart_add_url | append: '.js' }}",
      cartChange: "{{ routes.cart_change_url | append: '.js' }}",
      search: "{{ routes.search_url }}"
    };
    theme.strings = {
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      inStockLabel: {{ 'products.product.in_stock_label' | t | json }},
      stockLabel: {{ 'products.product.stock_label' | t: count: '[count]' | json }},
      willNotShipUntil: {{ 'products.product.will_not_ship_until' | t: date: '[date]' | json }},
      willBeInStockAfter: {{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
      waitingForStock: {{ 'products.product.waiting_for_stock' | t | json }},
      savePrice: {{ 'products.general.save_html' | t: saved_amount: '[saved_amount]' | json }},
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      cartTermsConfirmation: {{ 'cart.general.terms_confirm' | t | json }},
      searchCollections: {{ 'general.search.collections' | t | json }},
      searchPages: {{ 'general.search.pages' | t | json }},
      searchArticles: {{ 'general.search.articles' | t | json }}
    };
    theme.settings = {
      dynamicVariantsEnable: true,
      cartType: {{ settings.cart_type | json }},
      isCustomerTemplate: {% if request.page_type contains 'customers/' %}true{% else %}false{% endif %},
      moneyFormat: {{ shop.money_format | json }},
      saveType: {{ settings.product_save_type | json }},
      productImageSize: {{ settings.product_grid_image_size | json }},
      productImageCover: {{ settings.product_grid_image_fill }},
      predictiveSearch: {{ settings.predictive_search_enabled }},
      predictiveSearchType: {{ settings.search_type | json }},
      quickView: {{ settings.quick_shop_enable }},
      themeName: 'ICONIC',
      themeVersion: "6.0.1"
    };
  </script>

  {{ content_for_header }}

  <script defer src="{{ 'vendor-scripts-v11.js' | asset_url | split: '?' | first }}"></script>

  {%- if shop.enabled_currencies.size > 1 -%}
    {% render 'hs-defer-css' with filename: 'country-flags.css', pages: 'collection,index,product' | split: ',', minify: true, local: true %}
  {%- endif -%}

  <script defer src="{{ 'theme.min.js' | asset_url }}"></script>

  {%- if request.page_type contains 'customers/' -%}
    <script defer src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
  {%- endif -%}

   {% comment %} Code for google tag manager {% endcomment %}
  
  <script>
    window.dataLayer = window.dataLayer || [];
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5PNN2WS');</script>
<!-- End Google Tag Manager -->
<!-- Hotjar Tracking Code for -->
<script>(function(h,o,t,j,a,r){ h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};h._hjSettings={hjid:3314221,hjsv:6};a=o.getElementsByTagName('head')[0];r=o.createElement('script');r.async=1; r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;a.appendChild(r);})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');</script>

<!-- <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/> -->
<!-- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

</head>

<body class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if request.path == '/challenge' %} template-challange{% endif %}" data-center-text="{{ settings.type_body_align_text }}" data-button_style="{{ settings.button_style }}" data-type_header_capitalize="{{ settings.type_header_capitalize }}" data-type_headers_align_text="{{ settings.type_headers_align_text }}" data-type_product_capitalize="{{ settings.type_product_capitalize }}" data-swatch_style="{{ settings.swatch_style }}" {% if settings.disable_animations %}data-disable-animations="true"{% endif %}>

  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PNN2WS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="PageContainer" class="page-container">
    <div class="transition-body">

    {%- section 'header' -%}
    {%- section 'newsletter-popup' -%}

      <main class="main-content" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- section 'footer-promotions' -%}
      {%- section 'footer' -%}

    </div>
  </div>

  {%- liquid
    render 'video-modal'
    render 'photoswipe-template'
    render 'tool-tip'
  -%}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script async src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SrUm9S" type="text/javascript"></script>
  
<script>// <![CDATA[
const accordionBtns = document.querySelectorAll(".accordion");

accordionBtns.forEach((accordion) => {
  accordion.onclick = function () {
    this.classList.toggle("is-open");

    let content = this.nextElementSibling;
    console.log(content);

    if (content.style.maxHeight) {
      //this is if the accordion is open
      content.style.maxHeight = null;
    } else {
      //if the accordion is currently closed
      content.style.maxHeight = content.scrollHeight + "px";
      console.log(content.style.maxHeight);
    }
  };
});
// ]]></script>
{% render 'preorder-now' %}
  
                <!-- sb csp code --><script>
                var is_theme_extension = '1';
                {% capture ProIDsCollections %}
                {% render 'csp-collectionProductIDS_sb' %}
                {% endcapture %}
                {% render 'sb-csp-productCollectionData2' %}
                    var ProIDsCollectionsTest = { {{ProIDsCollections}} }
                    var ProIDsCollections =`{{ProIDsCollections}}`;
                </script><!-- sb csp code -->

 


                {{ '//cdn.shopify.com/s/files/1/0194/1736/6592/t/1/assets/booster-page-speed-optimizer.js?23' | script_tag }}


  {% comment %} Code for google tag manager 

 
&lt;!-- Google Tag Manager (noscript) --&gt;
&lt;noscript&gt;&lt;iframe src=&quot;https://www.googletagmanager.com/ns.html?id=GTM-5PNN2WS&quot;
height=&quot;0&quot; width=&quot;0&quot; style=&quot;display:none;visibility:hidden&quot;&gt;&lt;/iframe&gt;&lt;/noscript&gt;
&lt;!-- End Google Tag Manager (noscript) --&gt;

  {% endcomment %}
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
  <!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->

  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  {% if template contains 'product' %}
    <script>
      $(document).ready(function () {
          $('.product-block--tab:eq(0) button').click();

        // if($(window).width() > 768) {
        //   setTimeout(function() {
        //     console.log('hei', $('.grid [data-product-images]').height())
        //     $('.page-content--product .grid .grid__item:last-child').height($('.grid [data-product-images]').height());
        //   }, 1000);
        // }

        $('.product__thumb-item:eq(0) a img').trigger('click');
        
          var rec_timer = setInterval(function () {
              if ($('.product-recommendations .grid').length > 0) {
                  $('.product-recommendations .grid').slick({
                      infinite: false,
                      slidesToShow: 4.5,
                    responsive: [
                      {
                        breakpoint: 768,
                        settings: {
                          slidesToShow: 1.9,
                          // slidesToScroll: 2,
                        }
                      },
                      // {
                      //   breakpoint: 600,
                      //   settings: {
                      //     slidesToShow: 2,
                      //     slidesToScroll: 2
                      //   }
                      // },
                      // {
                      //   breakpoint: 480,
                      //   settings: {
                      //     slidesToShow: 1,
                      //     slidesToScroll: 1
                      //   }
                      // }
                    ]
                  })
                  clearInterval(rec_timer);
              }
          }, 500);
  
        $('.show-more').on('click', function(){ 
            $('.que-ans').show();
            $(this).hide();
            $('.show-less').show();
        });
        $('.show-less').on('click', function(){ 
            $('.que-ans:gt(5)').hide();
            $(this).hide();
            $('.show-more').show();
        });

        function upsellVariantSHowHide() {
          $('.upsell-product select option').removeAttr('disabled');
          
          var select_1 = $('.upsell-product.upsell-product-1 select:eq(1)').val();
          $('.upsell-product.upsell-product-1 select:eq(0) option').each(function () {
              var select_2 = $(this).val();
              console.log('var 1', select_2 + ' / ' + select_1, $('.variant-1-list div[data-variant-title="' + select_2 + ' / ' + select_1 + '"]').attr('data-variant-available'));
              if ($('.variant-1-list div[data-variant-title="' + select_2 + ' / ' + select_1 + '"]').attr('data-variant-available') == 'false') {
                  console.log('innnn 1', $('.upsell-product.upsell-product-1 select:eq(0) option[value="' + select_2 + '"]'))
                  // $('.upsell-product.upsell-product-1 select:eq(0) option[value="' + select_2 + '"]').hide();
                  $('.upsell-product.upsell-product-1 select:eq(0) option[value="' + select_2 + '"]').attr('disabled', true);
              }
          });
          
          var select_2 = $('.upsell-product.upsell-product-2 select:eq(1)').val();
          $('.upsell-product.upsell-product-2 select:eq(0) option').each(function () {
              var select_1 = $(this).val();
              console.log('var 2', select_1 + ' / ' + select_2, $('.variant-2-list div[data-variant-title="' + select_1 + ' / ' + select_2 + '"]').attr('data-variant-available'));
              if ($('.variant-2-list div[data-variant-title="' + select_1 + ' / ' + select_2 + '"]').attr('data-variant-available') == 'false') {
                  console.log('innnn 2', $('.upsell-product.upsell-product-2 select:eq(0) option[value="' + select_1 + '"]'))
                  // $('.upsell-product.upsell-product-2 select:eq(0) option[value="' + select_1 + '"]').hide();
                  $('.upsell-product.upsell-product-2 select:eq(0) option[value="' + select_1 + '"]').attr('disabled', true);
              }
          });
          // var dat_var_av_1 = $('.variant-1-list div[data-variant-title="'+select_1+' / '+select_2+'"]').attr('data-variant-available');
        }

        upsellVariantSHowHide();
        
        $('.upsell-product select').change(function() {
          upsellVariantSHowHide();
        });
        
                
    $('.upsell-add-to-cart').on('click', function(e) {
        // $.ajax({
        //   type: 'POST',
        //   url: '/cart/add.js',
        //   data: {
        //     quantity: 1,
        //     id: $('.upsell-product:eq(1) select option:selected').attr('data-variant-id')
        //   },
        //     dataType: 'json', 
        //    success: function (data) { 
        //     // $('#CartCount span:first').text(data.quantity);
        //     console.log(data.quantity, data);
        //          document.dispatchEvent(new CustomEvent('ajaxProduct:added', {
        //   detail: {
        //     product: data,
        //     addToCartBtn: this.addToCart
        //   }
        // }));
        //    } 
        //    });

      e.preventDefault();

      if ($('.upsell-product.upsell-product-1 select').length < 2) {
        var dat_var_1 = $('.upsell-product:eq(0) select option:selected').attr('data-variant-id');
      } else {
        var select_1 =   $('.upsell-product.upsell-product-1 select:eq(0)').val();
        var select_2 =   $('.upsell-product.upsell-product-1 select:eq(1)').val();
        var dat_var_1 = $('.variant-1-list div[data-variant-title="'+select_1+' / '+select_2+'"]').attr('data-variant-id');
      }

      if ($('.upsell-product.upsell-product-2 select').length < 2) {
        var dat_var_2 = $('.upsell-product:eq(1) select option:selected').attr('data-variant-id');
      } else {
        var select_3 =   $('.upsell-product.upsell-product-2 select:eq(0)').val();
        var select_4 =   $('.upsell-product.upsell-product-2 select:eq(1)').val();
        var dat_var_2 = $('.variant-2-list div[data-variant-title="'+select_3+' / '+select_4+'"]').attr('data-variant-id');
      }
    
      var items = {
  items: [
    {
      // id: $('.upsell-product:eq(0) select option:selected').attr('data-variant-id'),
      id: dat_var_1,
      quantity: 1
    },
    {
      // id: $('.upsell-product:eq(1) select option:selected').attr('data-variant-id'),
      id: dat_var_2,
      quantity: 1
    }
  ]
};

$.ajax({
  type: 'POST',
  url: '/cart/add.js',
  data: JSON.stringify(items),
  contentType: 'application/json',
  dataType: 'json', 
  success: function (data) { 
    console.log(data.quantity, data);
    document.dispatchEvent(new CustomEvent('ajaxProduct:added', {
      detail: {
        product: data,
        addToCartBtn: this.addToCart
      }
    }));
  },
  error: function (xhr, status, error) {
    console.error('Error adding items to cart:', error);
  }
});


});
  
      });
    </script>
  {% endif %}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
    console.log('innn');
      function LoadMoreProducts() {
  const loadMoreBtn = document.getElementById("load-more");
  const productGrid = document.querySelector(".collection-grid__wrapper .grid"); // Update with the actual class of your product grid

  loadMoreBtn.addEventListener("click", function() {
      console.log('innn clicked');
    const page = loadMoreBtn.getAttribute("data-page");
    var url;
    if (window.location.href.indexOf('?') != -1) {
      url = `${window.location.href}&page=${page}`;
    } else {
      url = `${window.location.href}?page=${page}`;
    }

    fetch(url)
      .then(response => response.text())
      .then(data => {
          console.log('data', data);
        const parser = new DOMParser();
        const htmlDoc = parser.parseFromString(data, "text/html");
        const newProducts = htmlDoc.querySelectorAll(".collection-grid__wrapper .grid__item"); // Update to match each product's class
        newProducts.forEach(product => {
          productGrid.appendChild(product);
        });

        // Increment the page number for the next load
        loadMoreBtn.setAttribute("data-page", parseInt(page) + 1);

        // Hide the Load More button if there are no more pages
        const nextPageLink = htmlDoc.querySelector(".pagination .next");
        if (!nextPageLink) {
          loadMoreBtn.style.display = "none";
        }
        theme.initQuickShop();
      })
      .catch(error => console.error("Error loading more products:", error));
  });
      }
      LoadMoreProducts();

      $('.show-hide-filters').on('click', function() {
    // $('.grid__item--sidebar').toggle();
    $('.grid__item--sidebar').toggleClass('hide');
    $(this).toggleClass('hide-filters');
    $(this).toggleClass('show-filters');
    if($(this).hasClass('hide-filters')) {
        $(this).find('span').text('Hide filters');
    } else {
        $(this).find('span').text('Show filters');
    }
        // theme.initQuickShop();
});
});

  </script>
  				
</body>
  <script type="text/javascript">
var _learnq = _learnq || [];
  var classname = document.getElementsByClassName("btn btn--full add-to-cart btn");
var addToCart = function() {
_learnq.push(['track', 'Added to Cart', item]);
}; for (var i = 0; i < classname.length; i++) {
classname[i].addEventListener('click', addToCart, false);
}
</script>
</html>


